/* header */
header nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #0084fd;
    padding: 1em 1.5em;
}

header nav .container .logo {
    font-size: 1.2em;
    cursor: pointer;
}

header nav .container .nav-row {
    display: none;
}

header nav .container .menu {
    font-size: 1.3em;
    color: white;
    cursor: pointer;
}
/* /header */

/* main */
/* main-top */
main .main-top {
    padding: 3em 1.5em;
}

main .main-top .card {
    padding: 1.6em 1.6em 0;
    margin-bottom: 1.6em;
    border-radius: 20px;
    background-color: #b5ddff;
}

main .main-top .card:not(.card:first-child) {
    text-align: center;
    padding-bottom: 1.6em;
}

main .main-top .card .card-text h3{
    font-size: 1.1em;
    padding-bottom: 1.2em;
    color: #0084fd;
}

main .main-top .card .card-text p{
    font-size: .7em;
    font-weight: bold;
    line-height: 180%;
    padding-bottom: 1.2em;
    color: #536575;
}

main .main-top .card .card-img img {
    display: block;
    width: 100%;
}

main .main-top .card .card-icon {
    padding-bottom: .2em;
    font-size: 4em;
    color: #0084fd;
}
