/* header */
header nav {
    background-color: #0084fd;
}

header nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1em 1.5em;
}

header nav .container .logo {
    width: 55px;
    height: 30px;
}

header nav .container .logo img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

header nav .container .nav-row {
    display: none;
}

header nav .container .menu {
    font-size: 1.3em;
    color: white;
    cursor: pointer;
}
/* /header */

/* main */
/* main-top */
main .main-top {
    padding: 3em 1.5em;
}

main .main-top .card {
    padding: 1.6em 1.6em 0;
    margin-bottom: 1.6em;
    border-radius: 20px;
    background-color: #b5ddff;
}

main .main-top .card:not(.card:first-child) {
    text-align: center;
    padding-bottom: 1.6em;
}

main .main-top .card .card-text h3{
    font-size: 1.1em;
    padding-bottom: 1.2em;
    color: #0084fd;
}

main .main-top .card .card-text p{
    font-size: .7em;
    font-weight: bold;
    line-height: 180%;
    padding-bottom: 1.2em;
    color: #536575;
}

main .main-top .card .card-img img {
    display: block;
    width: 100%;
}

main .main-top .card .card-icon {
    padding-bottom: .2em;
    font-size: 4em;
    color: #0084fd;
}
/* /main-top */

/* main-center */
main .main-center .section {
    padding: 3em 1.6em;
}

main .main-center .section#strategic-planning {
    background-color: #9792e4;
}

main .main-center .section#strategic-planning img {
    display: block;
    width: 100%;
}

main .main-center .section#strategic-planning .card h2,
main .main-center .section#strategic-planning .card h3, 
main .main-center .section#testimonials .presentation h2,
main .main-center .section#benefits h2,
main .main-center .section#about-us h1 {
    padding-bottom: 1.2em;
}

main .main-center .section#strategic-planning .card#card-purple {
    color: white;
}

main .main-center .section#strategic-planning .card#card-purple img {
    padding-bottom: 5em;
}

main .main-center .section#strategic-planning .card p, 
main .main-center .section#testimonials .presentation span,
main .main-center .section#testimonials p,
main .main-center .section#benefits p {
    font-size: .8em;
    line-height: 180%;
    padding-bottom: 1.3em;
}

main .main-center .section#strategic-planning .card#card-white {
    border-radius: 50px;
    padding: 1.6em;

    text-align: center;
    background-color: white;
}

main .main-center .section#strategic-planning .card#card-white img {
    padding-bottom: 1.6em;
}

main .main-center .section#testimonials {
    text-align: center;
}

main .main-center .section#testimonials .presentation h2{
    color: #9792e4;
    padding-top: 10px;
}

main .main-center .section#testimonials .card {
    border-radius: 50px;
    padding: 1.6em;
    margin-bottom: 1.6em ;

    color: white;
    background-color: #9792e4;
}


main .main-center .section#testimonials .card img {
    display: block;
    margin-bottom: 1em;

    height: 100%;
    width: 100%; 
    clip-path: circle();
}

main .main-center .section#testimonials .card .name {
    font-weight: bold;
}

main .main-center .section#benefits {
    background-color: #9792e4;
}

main .main-center .section#benefits h2 {
    color: white;
    text-align: center;
}

main .main-center .section#benefits .card {
    border-radius: 20px;
    padding: 1.6em;
    margin-bottom: 1.6em ;

    background-color: white; 
}

main .main-center .section#benefits .card .number {
    padding-bottom: .8em;
    
    color: #9792e4;
    font-size: 2em;
    font-weight: bold;
}

main .main-center .section#benefits .card h3 {
    padding-bottom: .8em;
    
    color: #9792e4;
}

main .main-center .section#benefits .card p {
    color:#536575;
}

main .main-center .section#about-us h1 {
    font-size: 2em;
    color: #9792e4;
}

main .main-center .section#about-us p {
    font-size: .8em;
    line-height: 210%;
    padding-bottom: 3em;
}

main .main-center .section#about-us .quote #quote-img{
    position: relative;
}

main .main-center .section#about-us .quote #quote-img img{
    display: block;
    margin-bottom: 1em;

    width: 50%; 
    clip-path: circle();
}

main .main-center .section#about-us .quote #quote-img #mark-icon{
    position: absolute;
    top: 0;
    left: 37%;

    font-size: 2.5em;
    color: #9792e4;
}

main .main-center .section#about-us .quote #quote-txt{
    color: #9792e4;
    font-size: 1.2em;
    font-weight: bold;
    padding-bottom: 1em;
}
/* /main-center */

/* main-bottom */
main .main-bottom {
    padding: 3em 1.6em;

    text-align: center;
    background-color: #9792e4;
}

main .main-bottom #start {
    display: block;

    color: white;
    opacity: 50%;
    padding-bottom: 1em;
}

main .main-bottom h2 {
    font-size: 1.2em;
    font-weight: bold;
    padding-bottom: 1em;
    color: white;
}

main .main-bottom h1 {
    font-size: 3em;
    font-weight: bold;
    padding-bottom: .6em;
    color: #fdc15f;
}

main .main-bottom #desc,
main .main-bottom #copyright {
    font-size: .7em;
    line-height: 180%;
    padding-bottom: 1.6em;
    color: white;
}
/* /main-bottom */
/* /main */

/* footer */
footer {
    padding: 3em 1.6em;

    font-size: .7em;
    text-align: center;
    color: white;
    background-color: #333333;
}

footer div:first-child {
    padding-bottom: 3em;
}
/* /footer */

/*links */
main .main-bottom #copyright a {
    color: white;
    cursor: pointer;
}

footer a {
    color:#9792e4;
    cursor: pointer;
}

/* buttons */
.buttons {
    border: none;
    border-radius: 15px;
    padding: .5em;
    cursor: pointer;
}

#apple-btn,
.more-btn,
#get-start-btn {
    width: 50%;

    font-weight: bold;
    color: white;
}

#apple-btn {
    background-color: #0084fd;
}

#arrow-btn,
.more-btn,
#linkedin-btn {
    background-color: #9792e4;
}

#arrow-btn {
    padding: .5em .7em;
    border-radius: 50%;
}

#linkedin-btn  {
    color: white;
}

#get-start-btn {
    padding: 1.5em;
    margin-bottom: 1em;

    color: #9792e4;
    background-color: white;
    border-radius: 25px;
}


/* RESPONSIVE */
/* tablet */
@media screen and (min-width: 768px) {

    main .main-top .container,
    main .main-center .section#benefits .container {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
    }

    main .main-top .card:not(.card:first-child) {
        width: calc(100% / 3 - (15px / 3 * 2));
    }

    main .main-top .card:first-child {
        width: calc(100% / 3 * 2 - (15px / 3 * 1));
    }

    main .main-top .card .card-img img {
        width: 50%;
    }

    main .main-center .section#strategic-planning .card h2,
    main .main-center .section#about-us h1 {
        font-size: 3.5em;
        padding-bottom: .8em;
    }

    main .main-center .section#testimonials .presentation h2,
    main .main-center .section#benefits h2 {
        font-size: 2em;
    }

    main .main-center .section#testimonials .card {
        display: flex;
        align-items: center;
        text-align: left;
    }

    main .main-center .section#testimonials .card img {
        width: 40%;
        padding-bottom: none;
        margin: 0 0 0 -3em
    }

    main .main-center .section#benefits .card {
        width: calc(100% / 2 - (15px / 2 * 1));
    }

    main .main-center .section#about-us .container {
        display: flex;
        gap: 50px;
    }

    main .main-center .section#about-us .quote {
        width: 200%;
    }

}

/* laptop */
@media screen and (min-width: 1024px) {

    .centered {
        max-width: 1024px;
        margin: 0 auto;
    }

    .centered-small {
        max-width: 400px;
        margin: 0 auto;
    }

    .centered-med {
        max-width: 800px;
        margin: 0 auto;

        display: flex;
        align-items: end;
        gap: 50px;
    }

    header nav .container .nav-row {
        display: block;

        display: flex;
        align-items: center;
        gap: 1.5em;

        font-size: .8em;
    }

    header nav .container .nav-row a{
        color: white;
        text-decoration: none;
        cursor: pointer;
    }
    
    header nav .container .menu {
        display: none;
    }

    main .main-top .card:first-child {
        display: flex;
    }

    main .main-top .card:first-child img{
        width: 100%;
    }

    main .main-center .section#strategic-planning .card#card-white {
        width: 120%;
    }

    main .main-center .section#strategic-planning .card h2 {
        font-size: 2em;
        padding-bottom: 1.2em;
    }

    main .main-center .section#benefits .card {
        width: calc(100% / 3 - (15px / 3 * 2));
    }

}


